:root {
    --white: #fff;
    --black: #212429;
    --blue: #4263EB;
    --purple: #7048E8;
    --pink: #51CF66;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --text-primary: var(--black);
    --text-secondary: var(--grey-3);
}