.expanded {
  background: var(--white-bg);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  overflow: hidden;

  transition: height 0.2s ease-out;
  height: 72px;
}

.expanded[open] {
  height: 186px;
}

.expanded__trigger {
  padding: 1.5rem 2rem;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expanded__trigger-icon {
  font-size: 24px;
  fill: var(--grey-4);
}

.expanded[open] .expanded__trigger-icon {
  transform: rotate(180deg);
}

.expanded__content {
  padding: 0 2rem 1.5rem 2rem;
}

@media all and (min-width: 767px) {
  .expanded[open] {
    height: 128px;
  }
}
