.modal {
    position: fixed;
    background-color: rgba(196, 196, 196, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal__window {
    max-width: 428px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 2.5rem;
    background: var(--white-bg);
    border-radius: 0.5rem;
}

.modal__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-decoration: none;
}

.modal__close .svg-icon {
    font-size: 24px;
    stroke: var(--grey-4);
}
